 .u-section-1 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 206px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 620px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 12px -13px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 59px -13px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 0;
    margin-left: -13px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 981px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 136px 0;
}

.u-section-2 .u-shape-1 {
  height: 219px;
  margin-top: 208px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -387px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
  min-height: 586px;
  grid-gap: 45px 45px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 94px;
  width: 85px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 10px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 10px 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-2 {
  height: 94px;
  width: 85px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px 10px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 10px 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 23px;
}

.u-section-2 .u-image-3 {
  height: 94px;
  width: 85px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px 10px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 749px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 30px));
    min-height: 458px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 22.5px));
    min-height: 1052px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 176px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1838px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
  min-height: 441px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 411px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  object-position: 100% 50%;
  width: 269px;
  height: 269px;
  margin: 41px 112px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 411px;
}

.u-section-3 .u-container-layout-2 {
  padding: 19px 22px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0 36px 0 0;
}

.u-section-3 .u-text-2 {
  text-align: left;
  font-size: 1.125rem;
  margin: 20px 36px 0 0;
}

.u-section-3 .u-text-3 {
  text-align: left;
  font-size: 1.125rem;
  margin: 0 18px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  margin: 17px auto 0 10px;
  padding: 14px 41px 15px 40px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 297px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 339px;
    background-position: 100% 50%;
  }

  .u-section-3 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 921px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 727px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 189px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 170px;
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 659px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
    margin-bottom: -1px;
    margin-left: 174px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 368px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 84px;
  }
} .u-section-4 {
  background-image: url("images/vbvbbv.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 419px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 240px;
  height: 220px;
  margin: 0 107px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 391px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 22px;
}

.u-section-4 .u-text-1 {
  margin: 15px 23px 0 3px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px 78px 0 3px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 78px 0 3px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  margin: 13px auto 0 3px;
  padding: 14px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 29px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 770px);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-4 .u-image-1 {
    width: 192px;
    height: 176px;
    margin-top: 168px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 55px;
    padding-right: 270px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 683px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 50px 50px 50px 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 93px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 11px;
    margin-right: 146px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1157px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 723px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 23px;
    margin-right: 40px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 40px;
    margin-left: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 23px;
    margin-right: 0;
    margin-left: 111px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 959px;
}

.u-section-5 .u-text-1 {
  width: 501px;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-5 .u-shape-1 {
  width: 192px;
  background-image: none;
  height: 555px;
  margin: 52px auto 0 0;
}

.u-section-5 .u-gallery-1 {
  width: 1017px;
  height: 286px;
  grid-gap: 10px 10px;
  margin: -504px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 16px 16px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 463px;
  min-height: 322px;
  height: auto;
  background-image: none;
  margin: 123px auto 0 212px;
}

.u-section-5 .u-container-layout-1 {
  padding: 23px 30px 29px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 14px 31px 15px 29px;
}

.u-section-5 .u-gallery-item-4 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-5 .u-gallery-1 {
    width: 940px;
    height: 264px;
    margin-top: -458px;
    margin-right: -19px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: 125px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
    padding-right: 41px;
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    height: 621px;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: 32px;
  }

  .u-section-5 .u-gallery-item-4 {
    margin-top: -571px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2136px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -3px;
    margin-right: 39px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 65px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    height: 1414px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: 39px;
    margin-left: 77px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-gallery-item-4 {
    margin-top: -3490px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -57px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 89px;
    margin-left: -34px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -604px;
    height: 898px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    min-height: 337px;
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-gallery-item-4 {
    margin-top: -2648px;
  }
} .u-section-6 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
  min-height: 826px;
}

.u-section-6 .u-shape-1 {
  height: 363px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-image-1 {
  width: 499px;
  height: 638px;
  box-shadow: 2px 2px 29px 0 rgba(0,0,0,0.25);
  object-position: 50% 0%;
  margin: -261px auto 0 calc(((100% - 1140px) / 2) + 169px);
}

.u-section-6 .u-group-1 {
  width: 553px;
  min-height: 280px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -625px calc(((100% - 1140px) / 2) + 73px) 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 271px;
  min-width: 127px;
  white-space: nowrap;
  margin: 359px auto 20px calc(((100% - 1140px) / 2) + 283px);
}

.u-section-6 .u-icon-1 {
  height: 52px;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 52px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    margin-top: -254px;
    margin-left: calc(((100% - 940px) / 2) + 129px);
  }

  .u-section-6 .u-group-1 {
    margin-top: -705px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 433px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-top: -386px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-group-1 {
    margin-top: -161px;
    margin-right: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    margin-top: -396px;
    margin-left: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-6 .u-group-1 {
    width: 471px;
    min-height: 265px;
    margin-top: -136px;
    margin-right: calc(((100% - 540px) / 2) + -31px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 435px;
    margin-top: -363px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 29px;
  }
}