 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 523px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  width: 598px;
  margin: 28px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-bottom: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin: 37px 61px 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-2 {
    width: 374px;
    margin: 39px auto 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 33px -15px 35px 15px;
  }
} .u-section-2 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-image-1 {
  width: 391px;
  height: 229px;
  margin: 77px auto 0 40px;
}

.u-section-2 .u-text-1 {
  margin: -200px 40px 0 502px;
}

.u-section-2 .u-text-2 {
  margin: 20px 55px 0 487px;
}

.u-section-2 .u-text-3 {
  margin: 67px 40px 0 502px;
}

.u-section-2 .u-group-1 {
  width: 389px;
  min-height: 367px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -135px auto 0 42px;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 30px 14px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -138px 277px 60px auto;
  padding: 12px 62px 12px 61px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 342px;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 342px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 342px;
    margin-bottom: initial;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    height: auto;
    margin-bottom: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -183px;
    margin-right: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 64px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 24px 61px 0;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -222px;
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 22px;
    margin-right: auto;
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-2 .u-image-1 {
    height: 199px;
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -263px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 231px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 307px;
}

.u-section-3 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-3 .u-text-2 {
  width: 598px;
  margin: 46px auto 20px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 38px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 38px 0 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 229px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 37px;
  }
}