 .u-section-1 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 348px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 32px 327px 0 590px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -224px 570px 20px 399px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 227px;
    margin-left: 490px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 470px;
    margin-left: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 137px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 360px;
    margin-bottom: 11px;
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 47px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 270px;
    margin-left: 99px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 2px;
    margin-right: -50px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 170px;
    margin-bottom: 20px;
    margin-left: -1px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 922px;
}

.u-section-2 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-2 {
  width: 652px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-3 {
  width: 652px;
  margin: 10px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 273px;
  background-image: none;
  height: 544px;
  margin: 32px auto 0 88px;
}

.u-section-2 .u-image-1 {
  width: 376px;
  height: 376px;
  margin: -504px auto 0 133px;
}

.u-section-2 .u-shape-2 {
  width: 477px;
  background-image: none;
  height: 230px;
  margin: -375px -18px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 376px;
  height: 376px;
  margin: -187px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 51px;
    margin-left: -31px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -523px;
    margin-left: 10px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 336px;
    margin-right: -9px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -433px;
    margin-right: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 68px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-top: -526px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: 186px;
    margin-right: -18px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
    margin: -369px auto 47px -18px;
  }
} .u-section-3 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 521px;
}

.u-section-3 .u-image-1 {
  width: 445px;
  height: 445px;
  margin: 38px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-4 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-4 .u-text-2 {
  width: 652px;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 10px 783px 0 244px;
}

.u-section-4 .u-text-4 {
  width: 652px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 244px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-3 {
    width: 113px;
    margin-left: 144px;
    margin-right: 683px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 144px;
    margin-right: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-left: 34px;
    margin-right: 573px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 427px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 227px;
  }

  .u-section-4 .u-text-4 {
    width: 340px;
  }
} .u-section-5 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 391px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-accordion-1 {
  width: 995px;
  margin: 60px auto;
}

.u-section-5 .u-accordion-item-1 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-1 {
  padding: 15px 20px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-2 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  padding: 15px 20px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-3 {
  padding: 15px 20px;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-accordion-link-4 {
  padding: 15px 20px;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
}