 .u-section-1 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 351px;
}

.u-section-1 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 27px 570px 0 399px;
}

.u-section-1 .u-text-3 {
  margin: -224px 347px 27px 570px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 470px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 247px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 360px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 137px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 270px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 47px;
    margin-left: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 170px;
    margin-left: -1px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: -234px -3px 13px 170px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1192px;
}

.u-section-2 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-2 {
  width: 652px;
  margin: 20px auto 0;
}

.u-section-2 .u-group-1 {
  width: 528px;
  min-height: 187px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 106px 20px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 273px;
  background-image: none;
  height: 544px;
  margin: -270px auto 0 36px;
}

.u-section-2 .u-image-1 {
  width: 376px;
  height: 376px;
  margin: -504px auto 0 81px;
}

.u-section-2 .u-shape-2 {
  width: 477px;
  background-image: none;
  height: 230px;
  margin: -93px 25px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 376px;
  height: 376px;
  margin: -187px 43px 0 auto;
}

.u-section-2 .u-text-4 {
  width: 652px;
  margin: 25px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1595px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 184px;
    height: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 96px;
  }

  .u-section-2 .u-shape-2 {
    width: 393px;
    margin-top: 20px;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-shape-2 {
    width: 477px;
    margin-top: 241px;
    margin-right: 23px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -408px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: 68px 34px 53px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 27px;
    margin-right: 31px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -510px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 231px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -401px;
    margin-right: auto;
    margin-left: 51px;
  }

  .u-section-2 .u-text-4 {
    margin: 43px 0 31px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1810px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    min-height: 239px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-top: -530px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: 190px;
    margin-left: -31px;
  }

  .u-section-2 .u-image-2 {
    height: 340px;
    margin-top: -304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 31px;
    margin-bottom: 20px;
  }
} .u-section-3 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 521px;
}

.u-section-3 .u-image-1 {
  width: 445px;
  height: 445px;
  margin: 38px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 248px;
}

.u-section-4 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-4 .u-text-2 {
  width: 652px;
  margin: 18px auto;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 286px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-accordion-1 {
  width: 936px;
  margin: 46px auto;
}

.u-section-5 .u-accordion-item-1 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-1 {
  padding: 15px 20px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-2 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  padding: 15px 20px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-3 {
  padding: 15px 20px;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-5 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
}